.cart-page {
    padding: 20px;
    text-align: center;
}

.cart-page h2 {
    margin-bottom: 20px;
    color: #333;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 10px;
}

.cart-item p {
    margin: 0;
}

.cart-item button {
    padding: 8px 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.cart-item button:hover {
    background-color: #555;
}

.cart-page h3 {
    margin-top: 20px;
    font-size: 1.2rem;
}
.checkout-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

.checkout-button:hover {
    background-color: #218838;
}
